@model HealthManager.Models.DTO.AppointmentViewModel;
@{
    ViewData["Title"] = "Reserve Appointment";
    Layout = "_PatientDashboard";
}

<section class="w-100 d-flex justify-content-center align-items-center mt-5">
    <form method="post" asp-controller="Appointment" asp-action="ReserveAppointment" class="d-flex flex-column gap-3">
        <fieldset class="form-group">
            <label asp-for="Specialty">Specialty</label>
            <select asp-for="Specialty" class="form-control" asp-items="ViewBag.Specialties">
                <option>Select a Specialty</option>
            </select>
        </fieldset>

        <fieldset class="form-group">
            <label asp-for="DoctorId">Select doctor</label>
            <select asp-for="DoctorId" class="form-control"></select>
        </fieldset>

        <div class="d-flex align-items-center justify-content-between date-container">
            <fieldset class="form-group">
                <label asp-for="AppointmentDate">Date</label>
                <select asp-for="AppointmentDate" class="form-control">
                    <option value="">Select a Date</option>
                </select>
            </fieldset>

            <fieldset class="form-group">
                <label asp-for="AppointmentHour">Hour</label>
                <select asp-for="AppointmentHour" class="form-control">
                    <option value="">Select an Hour</option>
                </select>
            </fieldset>

        </div>
        <!-- Otros campos del formulario -->

        <button type="submit" class="btn btn-primary">Crear Turno</button>
    </form>
</section>


@section Scripts {
    <script>
        $(document).ready(function () {

            $("#Specialty").change(function () {
                var specialtyDoctor = $(this).val();
                getDoctorsBySpecialty(specialtyDoctor);
            });
            $("#DoctorId").change(function () {
                var doctor = $(this).val();
                getAppointmentsDates(doctor);
            });
            $("#AppointmentDate").change(function(){
                var selectedDate = $(this).val();
                var doctorId = $("#DoctorId").val()
                getAppointmentsHours(selectedDate, doctorId)
            })


            function getDoctorsBySpecialty(specialtyDoctor){
                $.ajax({
                    url: '@Url.Action("GetDoctorsBySpecialty", "Appointment")',
                    data: { specialty: specialtyDoctor },
                    success: function (response) {
                        var doctorSelect = $("#DoctorId");
                        doctorSelect.empty();
                        if(response){
                            $.each(response, function (index, doctor) {
                                doctorSelect.append($('<option>', {
                                    value: doctor.doctorId,
                                    text: doctor.name
                                }));
                            });
                            if (response.length == 1){
                                cleanOptions("#appointmentSelectDate", "#appointmentSelectHour")
                                var doctor = doctorSelect.val();
                                getAppointmentsDates(doctor);
                            }
                        } else {
                            doctorSelect.append('<option>No doctors available</option>');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX Error:', status, error);
                    }
                });
            }

            function getAppointmentsDates(doctor) {
                $.ajax({
                    url: '@Url.Action("GetAppointmentDates", "Appointment")',
                    data: { doctorId: doctor },
                    success: function (response) {
                        var selectDate = $("#AppointmentDate");
                        selectDate.empty();
                        if (response.length > 0) {
                            $.each(response, function (index, date) {
                                selectDate.append($('<option>', {
                                    value: date,
                                    text: date
                                }))
                            })
                            cleanOptions("#AppointmentHour");
                            var firstDateInCollection = selectDate.val();
                            getAppointmentsHours(firstDateInCollection, doctor);
                        }
                    }
                })
            }

            function getAppointmentsHours(day, doctorId){
                $.ajax({
                    url: '@Url.Action("GetAppointmentHours", "Appointment")',
                    data: { day: day, doctorId: doctorId },
                    success: function (response) {
                        var selectHour = $("#AppointmentHour");
                        selectHour.empty();
                        if (response.length > 0){
                            $.each(response, function (index, hour) {
                                selectHour.append($('<option>', {
                                    value: hour,
                                    text: hour
                                }));
                            })
                        };
                    }
                });
            }

                function cleanOptions(){
                    for (let i = 0; i < arguments.length; i++){
                    $(arguments[i]).empty();
                    }
                    
                }
        });
    </script>
}