<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HealthManager.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="d-flex flex-column vh-100 mb-0">
    <header class="shadow d-flex flex-column justify-content-center">
        
        @if ((string)@ViewData["Title"] == "Home")
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
                <div class="container-fluid d-flex justify-content-between align-items-baseline">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HealthManager</a>
                    <div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1 d-flex gap-2">
                                <li class="nav-item">
                                    <a class="nav-link text-dark border border-2 rounded px-3 register shadow-sm text-center" asp-area="" asp-controller="Authorize" asp-action="Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark border border-2 rounded px-3 login shadow-sm text-center" asp-area="" asp-controller="Authorize" asp-action="Login">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="flex-grow-1 d-flex justify-content-center align-items-center">
        <main role="main" class="pb-3 h-75 w-75">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>Developed by Alan Coiradas</p>
            <p>All rights reserved.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    header{
        background-color: #51E6E2;
        min-height: 10dvh;
    }
    footer{
        background-color: #51E6CB;
        position: static !important;
    }
    .login{
        background-color: #37DBA0;
        border-style: solid;
        border-color: #37DBA0 !important;
    }
    .register{
        border-style: solid;
        border-color: #37ABDB !important;
    }
    .register:hover, .login:hover{
            background-color: #37ABDB;
            border-color: #37ABDB !important;
    }
    
</style>