@model HealthManager.Models.DTO.DoctorRegistrationViewModel
@{
    ViewData["Title"] = "Doctor Registration";
    Layout = "_AdminDashboard";
}

<section class="w-100 h-100 d-flex justify-content-center align-items-center">
    <form method="post" asp-controller="Admin" asp-action="CreateDoctor" class="w-50 h-auto d-flex flex-column gap-1">
        <div class="row">
            <fieldset class="form-group col">
                <div class="d-flex justify-content-between">
                    <label asp-for="Name">Name</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <input type="text" asp-for="Name" class="form-control" />
            </fieldset>
            <fieldset class="form-group col">
                <div class="d-flex justify-content-between">
                    <label asp-for="Surname">Surname</label>
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <input type="text" asp-for="Surname" class="form-control" />
            </fieldset>
        </div>
        <fieldset class="form-group">
            <div class="d-flex justify-content-between">
                <label asp-for="Specialty">Specialty</label>
                <span asp-validation-for="Specialty" class="text-danger"></span>
            </div>
            <select asp-for="Specialty" asp-items="ViewBag.Specialties" class="form-control"></select>
        </fieldset>
        <fieldset class="form-group">
            <div class="d-flex justify-content-between">
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <input type="email" asp-for="Email" name="email" class="form-control" />
        </fieldset>
        <div class="row">
            <fieldset class="form-group col">
                <div class="d-flex justify-content-between">
                    <label asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input type="password" asp-for="Password" class="form-control" />
            </fieldset>
            <fieldset class="form-group col">
                <div class="d-flex justify-content-between">
                    <label asp-for="ConfirmPassword">Confirm password</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
            </fieldset>
        </div>
        <fieldset class="row p-3">
            <label class="p-0 d-block mb-2">Working days</label>
            <div class="col-6 d-flex flex-column form-check">
                <label class="form-check-label"><input type="checkbox" asp-for="Monday" class="form-check-input" />Monday</label>
                <label class="form-check-label"><input type="checkbox" asp-for="Tuesday" class="form-check-input" />Tuesday</label>
                <label class="form-check-label"><input type="checkbox" asp-for="Wednesday" class="form-check-input" />Wednesday</label>
                <label class="form-check-label"><input type="checkbox" asp-for="Thursday" class="form-check-input" />Thurdsday</label>
            </div>
            <div class="col-6 d-flex flex-column form-check">
                <label class="form-check-label"><input type="checkbox" asp-for="Friday" class="form-check-input" />Friday</label>
                <label class="form-check-label"><input type="checkbox" asp-for="Saturday" class="form-check-input"  />Saturday</label>
                <label class="form-check-label"><input type="checkbox" asp-for="Sunday" class="form-check-input" />Sunday</label>
            </div>
        </fieldset>
        <div class="d-flex gap-3">
            <fieldset class="d-flex flex-column gap-2 form-group">
                <label asp-for ="WorkingHoursStart">Consult Start<input type="time" asp-for="WorkingHoursStart" class="form-control" /></label>
                <span asp-validation-for="WorkingHoursStart" class="text-danger"></span>
            </fieldset>
            <fieldset class="d-flex flex-column gap-2 form-group">
                <label asp-for="WorkingHoursEnd">Consult End<input type="time" asp-for="WorkingHoursEnd" class="form-control" /></label>
                <span asp-validation-for="WorkingHoursEnd" class="text-danger"></span>
            </fieldset>
            <fieldset class="d-flex flex-column gap-2 form-group">
                <label asp-for="ConsultDuration">Consult Duration (Minutes)<input type="number" asp-for="ConsultDuration" min="1" max="60" class="form-control" /></label>
                <span asp-validation-for="ConsultDuration" class="text-danger"></span>
            </fieldset>
        </div>
        <fieldset class="form-group">
            <input type="submit" value="Create Doctor" class="btn btn-primary mb-3" />
        </fieldset>
    </form>
</section>