@model HealthManager.Models.DTO.AuthorizeRequest;
@{
    ViewBag.Title = "Admin Login";
}

<main>
    <section class="w-100 d-flex justify-content-center align-items-center">
        <form method="post" asp-controller="Authorize" asp-action="AdminLogin" class="w-50 d-flex flex-column gap-2">
            <h2>Admin Login</h2>
            <fieldset>
                <div class="d-flex justify-content-between w-100">
                    <label asp-for="Email" class="flex-grow-1">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <input asp-for="Email" id="email" type="email" class="form-control" />
            </fieldset>
            <fieldset>
                <div class="d-flex justify-content-between w-100">
                    <label asp-for="Password" class="flex-grow-1">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input asp-for="Password" id="password" type="password" class="form-control" />
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
</main>
