@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HealthManager.Models.Patient;
@{
    ViewData["Title"] = "Login";
}

<section>
    <form method="post" asp-asp-controller="Authorize" action="Login">
        <fieldset>
            <label asp-for="Email">Email</label>
            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="Email" id="email" type="email" />
        </fieldset>
        <fieldset>
            <label asp-for="Password">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
            <input asp-for="Password" id="password" type="password" />
        </fieldset>
    </form>

</section>